.photo-grid__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  justify-items: stretch;
  list-style-type: none;
  padding: 0;
  max-width: 1184px;
  margin: 92px auto 0;
}

@media (max-width: 1024px) {
  .photo-grid__content {
    gap: 14px;
    max-width: 928px;
  }
}

@media (max-width: 900px) {
  .photo-grid__content {
    max-width: 720px;
    margin: 88px auto 0;
  }
}

@media (max-width: 768px) {
  .photo-grid__content {
    gap: 16px;
  }
}

@media (max-width: 630px) {
  .photo-grid__content {
    gap: 12px;
    justify-items: center;
  }
}

@media (max-width: 350px) {
  .photo-grid__content {
    margin-top: 64px;
  }
}


