.places__content_type_indent {
  max-width: 984px;
  margin: 92px auto 0;
  padding: 0 48px;
}

@media (max-width: 1024px) {
  .places__content_type_indent {
    max-width: 928px;
  }
}

@media (max-width: 900px) {
  .places__content_type_indent {
    max-width: 720px;
    margin: 88px auto 0;
    padding-left: calc(24px + (48 - 24) * (100vw - 768px) / (900 - 768));
    padding-right: calc(24px + (48 - 24) * (100vw - 768px) / (900 - 768));
  }
}

@media (max-width: 630px) {
  .places__content_type_indent {
    margin-top: 64px;
    padding: 0;
  }
}
